body {
    background-color: #130D36;
}

div {
    height: 30vh;
}

#prompt {
    width: 80%;
    position: relative;
    margin: auto;
    padding-top: 2em;
    font-family: Arial;
    color: white;
    font-size: 4em;
    display: block;
    text-align: center;
    font-style: italic;
}

button {
    position: fixed;
    left: 40%;
    top:65%;
    font-family: Arial;
    color: white;
    font-size: 2em;
    border-radius: 6px;
    border-width: 0;
    background-color:#3b5998;
    width:20%;
    height:10%;
    text-align: center;
}
button:hover {
    background-color: #6d84b4;
}